.login-heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.adminSide{
    float: left;
    width: 50%;
}

.employeeSide{
    float: left;
    width: 50%;
}

/* Both Admin login and Emlopyee login CSS */

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
    border: solid 3px;
    border-radius: 10%;
    background-color: rgb(147,177,166);
  }

  .form-container form{
    box-shadow: rgba(0, 0, 0, 35) 0px 5px 15px;
    padding: 20px;
    background-color: #fff;
  }
  .form-container form .title{
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }

  .form-container form input{
    border: none;
    border-bottom: 1px solid #000;
  }

  .form-container form button{
    border: 1px solid black;
    border-radius: 0;
    background-color: #000;
    color: white;
    width: 250px;
  }

  .form-container form button:hover{
    border: 1px solid black;
    background: #000000;
    background: -webkit-linear-gradient(
        to right,
        #434343,
        #000000
    );
    background: linear-gradient(
        to right,
        #434343,
        #000000
    );
  }