.footer{
    background-color: rgb(4,13,18);
}

.footer-brand{
    color: rgb(147,177,166) !important;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.foot-link{
    color: white;
    text-decoration: none;
    font-family: 'poppins';
}

.footer-content{
    color: white;
    font-family: 'poppins';
}

.copyRightFoot{
    background-color: rgba(0, 0, 0, 0.2);
}