.footer{
    background-color: rgb(4,13,18);
}

.copyRightFoot{
    background-color: rgba(0, 0, 0, 0.2);
}

.footerContent{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}