.navbar{
    background-color: rgb(4,13,18) !important;
}

.navbar-toggler{
    background-color: rgb(147,177,166);
}

.navbar-brand{
    color: rgb(147,177,166) !important;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link{
    color: rgb(147,177,166) !important;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 30px;
}

.dropdown-menu{
    background-color: rgb(147,177,166);
    border: solid 2px;
    border-color: rgb(24,61,61);
    
}

.dropdown-item:focus{
    background-color: white;
    color: rgb(4,13,18);
}

.dropdown-item:hover{
    background-color: whitesmoke;
}

.dropdown-item{
    color: rgb(4,13,18);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 30px;
}