.box{
  display: flex;
  justify-content: center;
  size: 300px;
}


.contact-us-container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 13, 18);
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    width: 600px;

  }

  h1{
    font-family: Georgia;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
  }
  
  label {
    margin-bottom: 8px;
    font-family: georgia;
  }
  
  input,
  textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: rgb(24, 61, 61);
    color: #fff;
  }
  
  button {
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(250, 251, 252);
    color: rgb(4, 13, 18);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin: 5px;
    
  }
  button:hover{
    color: #fff;
    background-color: rgb(24, 61, 61);

  }